{% extends "base.html" %}

{% block page_content %}
  <head>
    <link rel="stylesheet" href="/static/css/base.css" />
    <meta property="og:title" content="CSS Galaxies" />
    <meta property="og:description" content="css & html galaxy animation example" />
    <meta property="og:url" content="https://reminelson.github.io/galaxy-css/index" />
    <meta property="og:image" content="http://reminelson.github.io/galaxy-css/screenshot.png" />
  </head>
  <body>
    <div class="gradient-container">
      <div class="effect-wrapper">
    
        <div class="layer1">
          <div>
              <div>
                  <div>
                      <div>
                          <div>
                              <div>
                                  <div>
                                      <div>
                                          <div>
                                              <div>
                                                <div>
                                                    <div></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="layer2">
          <div>
              <div>
                  <div>
                      <div>
                          <div>
                              <div>
                                  <div>
                                      <div>
                                          <div>
                                                <div>
                                                  <div>
                                                      <div></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </body>
{% endblock %}