body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: #006dad;
}

body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: #006dad;
}

.page_header {
    background: #fff;
    margin: 0px;
    padding: 0px 0px 50px;
    color: #222
}


.hero {
    background-color: #0073b7;
    color: white;
    font-size: 18px;

    padding: 50px 0px;
    text-align: center;
}