{% extends "bootstrap/base.html" %}

{% block additional_css %}{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HCC Engineering{% endblock %}</title>
</head>

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HCC Engineering Society</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/gallery">Photo Gallery</a></li>
                <li><a href="/galaxy_stuff">Galaxy Effect</a></li>
                <li><a href="/discord">Discord</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
