{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block page_content %}
    <head>
    	<title>Tentative Calendar of Events!</title>
    </head>

    <h3>January</h3>
    <ul>
        <li>1/9:  Electrathon Race @ Wharton High School</li>
        <li>1/16:  Rocketry @ TTRA</li>
        <li>TBD: Club Rush</li>
    </ul>

    <h3>February</h3>
        <ul>
            <li>2/19:  2021 USF Engineering Expo (Virtual Only)</li>
            <li>2/20:  Electrathon Race @ TBD</li>
        </ul>

    <h3>March</h3>
        <ul>
            <li>3/6:  Electrathon Race @ Brandon High School (Dash Race)</li>
            <li>TBD:  Rocketry @ TTRA</li>
        </ul>

    <h3>April</h3>
        <ul>
            <li>4/1:  Electrathon Race @ Mulberry High School</li>
            <li>TBD:  Rocketry @ TTRA</li>
            <li>TBD:  Academic Excellence Awards</li>
            <li>TBD:  Astronomy Day @ FARROUT Observatory</li>
        </ul>

    <h3>May</h3>
        <ul>
            <li>TBD:  Rocketry @ TTRA</li>
            <li>TBD:  End of Year Banquet for ES</li>
        </ul>

    <h3>June</h3>
        <ul>
            <li>6/30 Budget Due to SGA - All left over funds return to SGA</li>
        </ul>
{% endblock %}