{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HCC Engineering Discord Info{% endblock %}</title>
</head>

{% block page_content %}
<body>
<div class="container">
    <p>Most Engineering Society meetings are held on our Discord Server</p>
    <p>Feel free to join us with the following link</p>
    <a href="https://discord.com/invite/RjquZWX" target="_blank">https://discord.gg/SNGMNbx</a>
    <p>If you are not familiar with Discord, the following videos should help</p>
    <a href="https://https://www.youtube.com/" target="_blank">https://www.youtube.com/</a>
</div>
</body>
{% endblock %}
</html>
