{% extends "base.html" %}

{% block page_content %}

<!-- Note that this was HTML from the ES's canvas organization.   The language is good.   
	The layout of the page could be improve by using a separate CSS stylesheet. -->
<a style="text-align: center" href="ES_Logo.png">
			<img src="static/img/ES_Logo.png" alt="ES Logo" width="200">
		</a>
<h2 style="text-align: center;"><span style="color: #0000ff;"><strong><span style="font-size: 24pt; text-decoration: underline;">&nbsp;Welcome to the HCC Engineering Society</span></strong></span></h2>
<p>&nbsp;</p>
<p>
	<span style="color: #0000ff;"><span style="font-size: 14pt;">The HCC Engineering Society is a student government organization for students interested in learning about the various fields of engineering.  The purpose of the Engineering Society is to provide a platform for potential engineering students, to inform and broaden their knowledge of engineering topics and fields, and to facilitate peer networking.</span></span></p>

<p style="text-align: left;"><span style="color: #0000ff;"><span style="font-size: 14pt;">For spring 2021, we are meeting on Fridays from 10:30 am - 11:30 PM on our Discord channel.  Look for the link below.<br /></span></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="color: #0000ff;"><span style="font-size: 14pt;">If you would like more information, please contact one of the following individuals:</span></span></p>
<ul>
<li><span style="color: #0000ff; font-size: 14pt;"><span style="color: #0000ff; font-size: 14pt;"><span style="color: #0000ff; font-size: 14pt;"><span style="color: #0000ff; font-size: 14pt;"><strong><span style="line-height: 1.5;"><span style="line-height: 28px;"><a href="mailto:staylor110@hawkmail.hccfl.edu"></a></span></span></strong></span></span></span></span><span style="font-size: 14pt;"><strong><span style="color: #0000ff;">Professor Ambrioso - Sponsor (</span><a href="mailto:aambrioso@hccfl.edu">aambrioso@hccfl.edu</a><span style="color: #0000ff;">)</span></strong></span></li>
<li><span style="font-size: 14pt;"><strong><span style="color: #0000ff;">Dr. Sami Kadamani - Sponsor (<a href="mailto:skadamani@hccfl.edu">skadamani@hccfl.edu</a>)</span></strong></span></li>
</ul>

<p style="text-align: left;"><span style="color: #0000ff;"><span style="font-size: 14pt;">
    Meet us on Discord:

    <a href="https://discord.com/invite/RjquZWX" target="_blank">https://discord.gg/SNGMNbx</a>
</span></span></p>
{% endblock %}
